/* Base */
/* https://coolors.co/fcf7f8-f2edee-ced3dc-313e50-c93b18 */
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F2EDEE;
  color: #313E50;
  font-size: 16px;
}

header {
  background-color: #CED3DC;
  border-bottom: solid 5px #FCF7F8;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.visitor,
.compose,
.visitor,
.message {
  font-size: 22px;
}

.compose,
.cancel-btn,
.compose-btn,
.update-tweets {
  width: 100%;
  outline: none;
}

.tweet,
.compose,
.compose-btn,
.cancel-btn,
.update-tweets {
  margin-top: 4px;
}

.update-tweets,
.cancel-btn,
.compose-btn {
  border: none;
  height: 40px;
}

a,
a:hover,
a:active,
a:visited {
  color: #C93B18;
  text-decoration: none;
}

/* Round box defaults */
.cancel-btn,
.compose-btn,
.compose,
.tweet {
  border-radius: 10px;

}

/* Components */
#main-logo {
  font-family: 'Lobster', cursive;
  display: inline-block;
  padding-left: 20px;
  margin: 0;
}

.visitor {
  padding-right: 20px;
  float: right;
  text-align: right;
}

.compose-btn {
  background-color: #313E50;
  color: #FCF7F8;
}

.cancel-btn {
  background-color: #FCF7F8;
  color: #C93B18;
  border: solid 2px #C93B18;
}

.update-tweets {
  background-color: #CED3DC;
}

/* Modules */

.feed {
  width: 350px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.compose {
    resize: none;
    height: 120px;
    rows: 6;
    border-color: grey;
}

.compose,
.tweet {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #FCF7F8;
  padding: 15px;
  border: solid 1px #CED3DC;
  word-wrap: break-word;
}

.user {
  padding-right: .4em;
}


/* Initial States */
.compose,
.cancel-btn {
  display: none;
}
